/*.===============================
4.1 counter-area
===============================*/
.wpo-counter-area,
.counter-style-2 {
    padding: 100px 0;
    background: url(../../images/counter.jpg) no-repeat center center / cover;
    position: relative;
}

.wpo-counter-area:before,
.counter-style-2:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
}

.wpo-counter-area .wpo-counter-grids .grid,
.counter-style-2 .wpo-counter-grids .grid {
    width: 24%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    background: rgba(255,255,255,.25);
    padding:40px 0;
}
.wpo-counter-area .wpo-counter-grids .grid .fi:before{
  color: #fff;
  font-size: 50px;
}

.wpo-counter-area .wpo-counter-grids .grid p,
.counter-style-2 .wpo-counter-grids .grid p {
    font-size: 18px;
    font-weight: normal;
    color: #e4e4e4;
    padding-top: 5px;
    margin-bottom: 0;
}

.wpo-counter-area .wpo-counter-grids,
.counter-style-2 .wpo-counter-grids {
    overflow: hidden;
    position: relative;
}

.wpo-counter-area .odometer.odometer-auto-theme,
.wpo-counter-area .odometer.odometer-theme-default,
.counter-style-2 .odometer.odometer-auto-theme,
.counter-style-2 .odometer.odometer-theme-default {
    line-height: 0.8em;
}

.wpo-counter-area .wpo-counter-grids .grid h2,
.counter-style-2 .wpo-counter-grids .grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 10px;
    margin-top: 8px;
    padding-bottom: 15px;
}

@media(max-width: 1200px) {

    .wpo-counter-area .wpo-counter-grids .grid,
    .counter-style-2 .wpo-counter-grids .grid {
        width: 23%;
    }
}

@media(max-width: 992px) {

    .wpo-counter-area .wpo-counter-grids .grid h2,
    .counter-style-2 .wpo-counter-grids .grid h2 {
        font-size: 35px;
    }
}

@media(max-width: 767px) {

  .wpo-counter-area .wpo-counter-grids .grid,
  .counter-style-2 .wpo-counter-grids .grid {
      width: 31.33%;
      padding:20px 0;
  }
}

@media(max-width: 560px) {

  .wpo-counter-area .wpo-counter-grids .grid,
  .counter-style-2 .wpo-counter-grids .grid {
      width: 48%;
      padding:20px 0;
  }
}
@media(max-width: 530px) {

  .wpo-counter-area .wpo-counter-grids .grid,
  .counter-style-2 .wpo-counter-grids .grid {
      width: 100%;
      padding:20px 0;
  }
}
